*{
    margin: 0;
    padding: 0;
}

main{
    background-image: url(img/InShot_20231009_184420114.jpg);
   height: 646px;
    background-size: cover;
    background-repeat: no-repeat;
}



.navbar{
    display: flex;
    width: 1349px;
    height: 100px;
    background-color: rgba(27, 27, 46, 0.3);
}

.nav_contacts{
    margin-left: 10px;
}

.nav_number{
    margin-left: 6px;
    margin-top: 18px;
    font-size: 20px;
    font-weight: bold;
    display: inline;
    position: relative;
    top: 5px;
    color: var(--letter-color, white);
}

.nav_ig{
margin-left: 6px;
margin-top: 18px;
color: var(--letter-color, white);
font-size: 20px;
position: relative;
top: 14px;
text-decoration: none;
}

.social_media_descriptions{
    display: block;
    
}

.nav_logo{
    margin-left: 370px;
    position: relative;
    right: 25px;
    bottom: 20px;
    
}

.nav_navigations{
    float: right;
    list-style: none;
    margin-left: 150px;
    display: flex;
    margin-top: 30px;
    
}

.nav_navigations a{
    margin-right: 34px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.nav_navigations a:hover{
    opacity: 0.5;
    transition: 0.7s;
    text-decoration: underline;
}

.about_container{
    height: 600px;
    background-image: url(img/InShot_20231008_194830560~2.jpg);
    background-size: cover;
}

.overlay{
    position: absolute;
    top: 820px;
    left: 20px;
    width: 450px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 define a opacidade (ajuste conforme necessário) */
    border-radius: 20px; /* Bordas arredondadas */
}

#about_h_one{
    position: relative;
    top: 220px;
    left: 46px;
    color: rgb(34, 34, 180);
    font-size: 27px;
}

#hr_about_one{
    position: relative;
    top: 225px;
    border: 2px solid red;
    width: 420px;
    left: 30px;
}


#about_p_one{
    position: relative;
    left: 30px;
    top: 230px;
    color: aliceblue;
}

.overlay_two{
    position: absolute;
    top: 820px;
    left: 900px;
    width: 450px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 define a opacidade (ajuste conforme necessário) */
    border-radius: 20px; /* Bordas arredondadas */
}
#about_h_two{
    position: relative;
    top: 80px;
    left: 1000px;
    color: rgb(34, 34, 180);
}

#hr_about_two{
    position: relative;
    top: 80px;
    border: 2px solid red;
    width: 420px;
    left: 910px;
}

#about_p_two{
    position: relative;
    left: 920px;
    top: 85px;
    color: aliceblue;
}








