@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Bebas+Neue&family=Josefin+Sans:wght@500&family=Orbitron:wght@500&family=Pixelify+Sans:wght@500&family=Poppins:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Bebas+Neue&family=Josefin+Sans:wght@500&family=Moulpali&family=Orbitron:wght@500&family=Pixelify+Sans:wght@500&family=Poppins:wght@800&display=swap');


*{
    font-family: 'Aref Ruqaa Ink', serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(26, 26, 160), rgb(0, 0, 0));
    padding: 1rem;
}

h1{
    text-align: center;
    color: rgb(29, 171, 29);
}

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #e30000;
    border-radius: 5px;
    font-size: 1.1rem;   
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2465d4;
    cursor: pointer;
    transition: 0.7s;
}
button:hover{
background-color: rgb(29, 171, 29);
}